# SPDX-License-Identifier: Apache-2.0
# Export only the app domain so device vendor policy can grant camera HAL access.
type miuicamera_app, domain, coredomain;
